// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-grid';
@import 'variables';
@import 'bootstrap/mixins';
@import "bootstrap/utilities/text";

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/reset';
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/feature';

// Pages
@import 'pages/home';
@import 'pages/team/team-summary';
@import 'pages/services/page-services-single';

body {
  font-size: 16px;
  line-height: 1.1;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 17px;
    line-height: 1.2;
  }
}

blockquote {
border-left: .20em solid #0050c7 !important; 
font-size: larger;
font-style: oblique;
padding-left: 0.5em
  }




// Display breakpoints for DEV
{{ if .Site.IsServer }}
body:after {
  color: #000000;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  right: 10px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  bottom: 10px;
  width: 200px;
  z-index: 9999;
  border: solid 1px #000000;
  @each $name, $value in $grid-breakpoints {
    @include media-breakpoint-up($name) {
      content: '#{$name} - min-width: #{$value}';
    }
  }
}
{{ end }}

// Custom space added at bottom of Services/blog page

.pt-6,
.py-6 {
  padding-bottom: 50px !important;
  }

// 512kb club CSS 

.kb-club a {
	text-decoration: none;
  color: #106bdf;
  font-weight: bold;
  padding: .25rem 0;
  font-family: sans-serif;
  transition: .4s;
}

.kb-club a:hover {
  background: #a1c3fb;
}

.kb-club-bg,
.kb-club-no-bg {
	border: 1px solid #106bdf;
	padding: .25rem .5rem;
}

.kb-club-bg {
	background: #a1c3fb;
	color: #212121;
}
