<div class="call">
  <div class="call-box-top">
    <div class="call-phone"><strong>Phone: </strong> {{ .Site.Data.contact.phone }} </div>
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .Site.Data.contact.email }}">
        {{ .Site.Data.contact.email }}
      </a>
    </div>
  </div>
  <div class="call-box-bottom">
    <a href="{{ "https://calendly.com/spearfish/consultation" | relURL }}" target="blank" class="button">GET STARTED</a>
  </div>
</div>
</div>
      
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img
          class="intro-image intro-image-absolute intro-image-hide-mobile"
          src="/images/undraw_problem_solving_ft81.svg" />
      </div>
      
    </div>
  </div>
</div>
