<div class="call">
  <div class="call-box-top">
    <div class="call-phone"><strong>Phone: </strong> <a href="tel:855-401-1888">{{ .Site.Data.contact.phone }}</a> </div>
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .Site.Data.contact.email }}">
        {{ .Site.Data.contact.email }}
      </a>
    </div>
  </div>
  <div class="call-box-bottom">
    <a href="{{ "https://calendly.com/spearfish/consultation" | relURL }}" target="blank" class="button">Get started</a>
  </div>
</div>
