<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li><strong>Phone: </strong><a href="tel:855-401-1888">{{ .Site.Data.contact.phone }}</a></li>

            <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
          </ul>
          <a class="zerostatic" href="/contact/">&copy; 2024 SPEARFISH CAPITAL FUNDING LLC</a>
        </div>
      <div> <p><a href="/terms-and-conditions/">Terms & Conditions</a>  |  <a href="/privacy-policy/">Privacy Policy</a></p></div>
      </div>
    </div>
  </div>
</div>
